@{
    ViewData["Title"] = "laboratory work ISTTP 2022. Book Store";
}

    <table>
        <tr>
            <td style="width: 300px; hight: 600px;">
                <div style="width: 250px; hight: 250px;">
                    <img style="border-radius: 30%;" src="image/BookShelf.png" class="img-fluid">
                </div>
            </td>
            <td></td>
            <td>
                <h3>Вітаю в BookShelf!</h3>
                <p style="font-family: Georgia, serif;">
                    BookShelf – це онлайн-книжковий магазин, місією якого є фінансова підтримка місцевих,
                    <br>
                    незалежні книгарні. Ми віримо, що книжкові магазини необхідні для здорової культури.
                    <br>
                    Це те місце, де автори можуть спілкуватися з читачами, де ми відкриваємо нових письменників, куди потрапляють діти
                    <br>
                    захоплений гострим відчуттям від читання, яке може тривати все життя.
                    <br>
                    Вони також є опорою для наших центрів і громад.
                    <br>
                    Оскільки все більше і більше людей купують свої книги в Інтернеті, ми хотіли створити легкий,
                    <br>
                    зручний спосіб отримати книги та підтримувати книжкові магазини одночасно.
                    <br>
                    Якщо ви хочете знайти конкретну місцеву книгарню для підтримки, знайдіть
                    <br>
                    на нашій карті, і вони отримають повний прибуток від вашого замовлення.
                    <br>
                    В іншому випадку ваше замовлення внесе внесок у пул прибутків, який буде
                    <br>
                    рівномірно розподілені між незалежними книгарнями (навіть тими, які не використовують BookShelf).
                </p>
            </td>
        </tr>
    </table>    
