@{
    ViewData["Title"] = "Privacy Policy";
}

<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <td>
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-header">
                  Privacy Policy
              </div>
              <div class="card-body">
                <h5 class="card-title">Лабораторна робота</h5>
                <p class="card-text">
                    З предмету "Web Технології" <br />
                    Предметна область: "Книжкова крамниця" <br />
                    Виконав студент групи ТТП-32: <br />
                    Нискогуз Владислав Леонідович
                </p>
              </div>
          </div>
        </td>
    </tr>
</table>

<br />