
<head>
        <link rel="stylesheet" href="~/css/success.css" asp-append-version="true" />
</head>

<div class="plate">
  <p class="script"><span>Administration</span></p>
  <p class="shadow text1">Ваше замовлення</p>
  <p class="shadow text2">Обробляється</p>
  <p class="shadow text3">Чекайте на відповідь :)</p>
  <p class="script"><span>Administration</span></p>
</div>
